<section [ngClass]="!tasks ? 'loading-container-tasks' : 'tasks-container'">
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>

  <div class="tasks-list" *ngIf="tasks; else loading">
    <div class="tasks-title">
      <h1>Tasks</h1>
      <p>{{ this.tasks.length }}</p>
    </div>

    <article class="tasks-table">
      <div class="list-item">
        <button
          mat-flat-button
          class="task-add"
          (click)="handleAddTask()"
          [style.color]="createTask ? 'primary' : ''"
        >
          <mat-icon>add</mat-icon>
          <p>Add new Task</p>
        </button>
      </div>
      @for (item of tasks; track $index) {
      <div class="list-item">
        <div class="list-item-title">
          <mat-icon
            [matTooltip]="getIconToolTip(item).tooltip"
            [style.color]="getIconToolTip(item).iconColor"
            >{{
              item.isFinished || !item.dueDate ? "check" : "watch_later"
            }}</mat-icon
          >
          <p>{{ item.name }}</p>
        </div>
        <button
          mat-icon-button
          (click)="showTaskDetail(item.id)"
          [style.color]="idTaskDetail == item.id ? 'var(--hot-red)' : 'gray'"
        >
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
      }
    </article>
  </div>
  <div class="task-detail" *ngIf="idTaskDetail != null || createTask">
    <app-task-detail
      [taskId]="idTaskDetail"
      [createTask]="createTask"
      (refreshTaskList)="refreshTaskList($event)"
      (createdTaskId)="handleCreatedTask($event)"
    ></app-task-detail>
  </div>
</section>
