<section
  class="task-detail-container"
  [style.justify-content]="!task ? 'center' : ''"
>
  <form
    [formGroup]="taskForm"
    class="task-form"
    *ngIf="_createTask || task; else loading"
    (ngSubmit)="!_createTask ? deleteTask() : onSubmit()"
    autocomplete="off"
  >
    <div>
      <div class="task-form-title">
        <h1>{{ _createTask ? "New " : "" }}Task:</h1>
        <mat-form-field [hideRequiredMarker]="!_createTask">
          <mat-label>Name</mat-label>
          <input
            type="text"
            id="name"
            class="form-control"
            placeholder="Name"
            formControlName="name"
            matInput
            maxlength="40"
          />
          @if (taskForm.get('name')?.hasError('required') &&
          taskForm.get('name')?.touched) {
          <mat-error>Please enter a valid name</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="task-form-body">
        <mat-form-field [hideRequiredMarker]="!_createTask">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            type="text"
            id="description"
            class="form-control"
            placeholder="Description"
            formControlName="description"
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
          ></textarea>
          @if (taskForm.get('description')?.hasError('required') &&
          taskForm.get('description')?.touched) {
          <mat-error>Please enter a valid description</mat-error>
          }
        </mat-form-field>

        <mat-form-field
          id="dueDateFormField"
          *ngIf="_createTask || task?.dueDate"
        >
          <mat-label>Due Date</mat-label>
          <input
            matInput
            [min]="startDueTime"
            [matDatepicker]="picker"
            formControlName="dueDate"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker startView="month"></mat-datepicker>
        </mat-form-field>

        <div class="task-visibility">
          <mat-form-field [hideRequiredMarker]="!_createTask">
            <mat-label><mat-icon>visibility</mat-icon> Visibility</mat-label>
            <mat-select
              formControlName="visibility"
              [value]="visibilities[0].value"
            >
              @for (visibility of visibilities; track visibility) {
              <mat-option [value]="visibility.value">{{
                visibility.label
              }}</mat-option>
              }
            </mat-select>
            @if (taskForm.get('visibility')?.hasError('required') &&
            taskForm.get('visibility')?.touched) {
            <mat-error>Please select a visibility type</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="task-form-finish" *ngIf="task">
          <div class="task-form-finish-info" *ngIf="task?.isFinished">
            <mat-checkbox formControlName="isFinished">Finished</mat-checkbox>
            <mat-form-field id="finishedDateFormField">
              <mat-label>Finished on</mat-label>
              <input
                matInput
                formControlName="finishedOnDate"
                [matDatepicker]="dpFinished"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="dpFinished"
              ></mat-datepicker-toggle>
              <mat-datepicker #dpFinished></mat-datepicker>
            </mat-form-field>
          </div>
          <button
            *ngIf="!task.isFinished"
            mat-flat-button
            [disabled]="blockFinishButton"
            (click)="finishTask()"
          >
            <mat-icon>task</mat-icon>Complete Task
          </button>
        </div>
      </div>
    </div>

    <div class="task-form-button">
      <button
        [color]="_createTask ? 'primary' : 'warn'"
        class="action-button"
        type="submit"
        mat-flat-button
      >
        {{ _createTask ? "Add" : "Delete" }}
      </button>
    </div>
  </form>

  <ng-template class="loading-container" #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
</section>
